body {
  padding-top: 100px;
  padding-bottom: 100px;
}

textarea {
  height: 150px;
  font-family: monospace;
  font-size: 16px;
}

.container {
  max-width: 40em;
}

/* Include this stylesheet after Milligram or merge it with your main.css */

a {
    color: #75b5aa;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: #75b5aa;
    border: .1rem solid #75b5aa;
}

.button.button-outline, button.button-outline, input[type='button'].button-outline, input[type='reset'].button-outline, input[type='submit'].button-outline {
    color: #75b5aa;
}

.button.button-clear, button.button-clear, input[type='button'].button-clear, input[type='reset'].button-clear, input[type='submit'].button-clear {
    color: #75b5aa;
}

pre.prettyprint .lit {
    color: #75b5aa;
}

.share-icon {
    background-color: #75b5aa;
    color: #ffffff;
}

pre {
    background: #f4f5f6;
    border-left: .3rem solid #75b5aa;
}

pre.prettyprint {
    border-left: .3rem solid #75b5aa !important;
    color: #655d5d;
}

pre.prettyprint .tag {
    color: #75b5aa;
}

pre.prettyprint .atn {
    color: #0065ce;
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
    border: .1rem solid #75b5aa;
}

.github-corner {
    color: #f4f5f6;
    fill: #75b5aa;
}
