<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}Judicious{% endblock %}</title>

  {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.ico">
  {% endblock %}

  {% block styles %}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  {% endblock %}

  {% block scripts %}
    <!-- HTML5 shim, for IE 6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='judicious.js') }}"></script>
  {% endblock %}
</head>

<body>
  <div class="container">
  <header>
    {% include "header.html" %}
  </header>
  {% block body %}
  {% endblock %}
  </div>
</body>
</html>
