{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <style type="text/css">
    .debug {
      font-size: 12px;
    }
  </style>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='task.js') }}"></script>
  <script>
    Judicious.taskUUID = "{{ task.id }}";
    Judicious.turkSubmitTo = '{{ request.values.get('turkSubmitTo', '') }}';
  </script>
{% endblock %}

{% block body %}
  {% block task %}
  {% endblock %}

  <div id="submit-or-skip">
    {% if request.values.get('turkSubmitTo') %}
      <form name='mturk_form' method='post' id='mturk_form' action='{{ request.values['turkSubmitTo'] }}/mturk/externalSubmit'>
        <input type='hidden' value='{{ request.values['assignmentId'] }}' name='assignmentId' id='assignmentId'/>
        <input type='hidden' value='bar' name='foo' id='foo-bar'/>
        <a class="button submit-task" id="submit-task" href="#">Submit</a>
      </form>
    {% else %}
      <form>
        <input class="button submit-task" value="Submit" id="submit-task" readonly>
        {% if not task.person_id %}
          <input class="button button-clear" type="submit" value="Skip" id="skip-task" readonly>
        {% endif %}
        <div class="debug">
        {% if config['JUDICIOUS_LOG_LEVEL'] == "debug" %}
          <pre> Debug:<br/> C/ {{ task.context_id }}<br/> T/ {{ task.id }}<br/> P/ {{ task.parameters }}</pre>
        {% endif %}
      </div>
      </form>
    {% endif %}
  </div>
{% endblock %}
