{% extends "task.html" %}

{% block styles %}
  <style type="text/css">
    .face {
      width: 64px;
    }
  </style>
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      Judicious.result = function () {
        return {
          age: $("#age").val(),
        };
      }
      Judicious.validate = function () {
        var age = parseInt($("#age").val());
        return (age > 0 && age < 101);
      }
    });
  </script>
{% endblock %}

{% block task %}
  <p><strong>Instructions:</strong> How old is the person depicted here?</p>
  <form id="survey">
    <div class="row">
      <div class="column column-50">
        <img class="face" src="{{ parameters.src }}" />
      </div>
    </div>
    <div class="row">
      <div class="column column-50">
        <label class="float-right">Age (1&ndash;99)</label>
        <input name="age" id="age" type="number" min=0 max=100 autofocus>
      </div>
    </div>
  </form>
{% endblock %}
