{% extends "task.html" %}

{% block styles %}
  <style type="text/css">
    .face {
      width: 64px;
    }
  </style>
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      Judicious.result = function() {
        var data = {};
        $("#survey").serializeArray().map(
          function(x) {
            data[x.name] = x.value;
          }
        )
        return data;
      }
      Judicious.validate = function(result) {
        return result.attractiveness !== "";
      }
    });
  </script>
{% endblock %}

{% block task %}
  <p><strong>Instructions:</strong> On a scale of 1 to 10, how attractive is the person depicted here?</p>
  <form id="survey">
    <div class="row">
      <div class="column column-50">
        <img class="face" src="{{ parameters.src }}" />
      </div>
    </div>
    <div class="row">
      <div class="column column-25">
        <select name="attractiveness" id="attractiveness" required>
          <option value=""></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
    </div>
  </form>
{% endblock %}
