{% extends "task.html" %}

{% block styles %}
  <style type="text/css">
    body {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

    .center-screen {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      text-align: left;
      padding: 20px 0px 20px 0px;
    }

    #leftLabel, #rightLabel {
      margin-bottom: 0;
    }
  </style>
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      $(window).scrollTop(0);

      $("#skip-task").remove();

      let start = performance.now();

      Judicious.result = function () {
        let relevance = parseFloat($("#taskInput")[0].value);
        relevance = isNaN(relevance) ? null : relevance.toFixed(2);  // Set to null if NaN

        return {
          relevance: relevance,
          rt: (performance.now() - start).toFixed(4),
        };
      }

      Judicious.validate = function () {
        const relevance = $("#taskInput")[0].value;
        const valid = relevance !== "" && parseFloat(relevance) >= 0 && parseFloat(relevance) <= 100;
        if (!valid) {
          alert("Please enter a relevance rating between 0 and 100.");
        }
        return valid;
      }
    });
  </script>
{% endblock %}

{% block task %}
  <form id="survey" class="center-screen">
    <p><b>Instructions:</b> In this task, you will judge how relevant a cognitive error is to an everyday decision-making scenario. First, read the scenario below. Then, read the argument in favor for why a particular cognitive error is relevant to that scenario. Note that the cognitive error may or may not actually be relevant. Your job is to consider the justification given and then rate how relevant the cognitive error is to the scenario on a scale from 0 (not relevant at all) to 100 (highly relevant).</p>
    
    <p>First, read the scenario:</p>
    <p><blockquote>{{ task.parameters.scenario }}</blockquote></p>

    <p>Now, read the argument in favor of the presence of a cognitive error:</p>
    <p><blockquote>{{ task.parameters.justification }}</blockquote></p>

    <p>In your judgment, how relevant is this cognitive error to the scenario on a scale from 0 (not relevant at all) to 100 (highly relevant).</p>
    <label for="taskInput">Relevance (0-100):</label>
    <input type="number" id="taskInput" class="input-number my-3" placeholder="Enter a number" min="0" max="100" step="1">
  </form>
  <br/>
{% endblock %}
