{% extends "task.html" %}

{% block styles %}
  <style type="text/css">
    body {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

    .center-screen {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      text-align: left;
      padding: 20px 0px 20px 0px;
    }

    #leftLabel, #rightLabel {
      margin-bottom: 0;
    }
  </style>
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    window.onload = function(){
      window.scrollTo(0,0);
    }

    $(document).ready(function() {
      $("#skip-task").remove();

      let start = performance.now();

      Judicious.result = function () {
        return {
          scenario: '{{ task.parameters.scenario }}',
          justification: '{{ task.parameters.justification }}',
          relevance: parseFloat($("#taskInput")[0].value).toFixed(2),
          rt: (performance.now() - start).toFixed(4),
        };
      }

      Judicious.validate = function () {
        const relevance = parseFloat($("#taskInput")[0].value);
        const valid = relevance >= 0 && relevance <= 100;
        if (!valid) {
          alert("Please enter a relevance rating between 0 and 100.");
        }
        return valid;
      }
    });
  </script>
{% endblock %}

{% block task %}
  <form id="survey" class="center-screen">
    <p>In this task, you will judge how relevant a cognitive error is to an everyday decision-making scenario. First, read the scenario below. Then, read the argument for why a particular cognitive error might be relevant to that scenario. Your job is to rate how relevant the cognitive error is to the scenario on a scale from 0 (not relevant at all) to 100 (highly relevant).</p>
    
    <h3>Scenario</h3>
    <p>{{ task.parameters.scenario }}</p>

    <h3>Justification</h3>
    <p>{{ task.parameters.justification }}</p>

    <label for="taskInput">Relevance (0-100):</label>
    <input type="number" id="taskInput" class="input-number my-3" value="0" min="0" max="100" step="1">
  </form>
  <br/>
{% endblock %}