{% extends "task.html" %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='matter.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='mixed.js') }}" type="text/javascript"></script>
  <script>
    $(document).ready(function () {
      Example.mixed();
      Judicious.result = function () {
        return {
          tower: $("canvas")[0].toDataURL("image/png"),
        };
      }
    })
  </script>
{% endblock %}

{% block task %}
  <p><strong>Instructions:</strong> {{ task.parameters.prompt }}</p>
  <div id="stage"></div>
{% endblock %}
