{% extends "task.html" %}

{% block styles %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#submit-task").hide();
      $("#skip-task").hide()
      Judicious.result = { consent: true };
      $("#no-consent").click(function () {
        result = {
          consent: false,
        }
        Judicious.postResult(Judicious.taskUUID, result, function(){})
        window.location.href = "http://google.com/"
      });
      $("#print-consent").click(function() {
        window.print();
      });
    });
  </script>
{% endblock %}

{% block task %}
  <h2>{{ task.parameters.title }}</h2>
  <blockquote>
    {{ task.parameters.body|safe }}
  </blockquote>
  <button type="button" id="print-consent" class="button button-outline">Print a copy of this</button>
  <hr/>
  <h4>{{ task.parameters.prompt }}</h4>
  <button type="button" id="consent" class="button submit-task">{{ task.parameters.agree }}</button>
  <button type="button" id="no-consent" class="button">{{ task.parameters.disagree }}</button>
{% endblock %}
