{% extends "task.html" %}

{% block scripts %}
{{ super() }}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="{{ url_for('static', filename='BsMultiSelect.min.js') }}"></script>
<script src="{{ url_for('static', filename='form_validation.js') }}"></script>
<style>
    body {
        font-size: 16px;
    }

    .badge {
        font-size: 100%
    }

    /* Fix BsMultiSelect close button */
    .badge>.close {
        color: black;
        padding: 1px 2px 1px 2px;
    }

    .form-control {
        font-size: 1.35rem;
    }

    select.form-control:not([size]):not([multiple]) {
        height: calc(2.75rem + 2px);
    }

    .error {
        color: #bd2130;
    }

    label.error {
        background-color: #ffd2d2;
        border-radius: 0.25rem;
        color: #d8000c;
        margin: 5px auto;
        padding: 5px;
        width: 100%;
    }

    label.error:before {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: 0.2em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        margin-left: 0.2em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f057";
    }

</style>
<script>
    $(document).ready(function () {
        // Make task unskippable
        $("#skip-task").remove();

        function getFormData(formId) {
          const inputs = $(`${formId} :input`);
          let formData = {};
          for (const input of inputs) {
            if (input.name === "") continue;
            formData[input.name] = $(input).val();
          }
          return formData;
        }

        Judicious.result = function () {
            return getFormData('#debriefingForm');
        }

        Judicious.validate = function () {
            return $("#debriefingForm").valid();
        }
        // $("#race").bsMultiSelect({
        //     useCss: true,
        // });
    });

</script>
{% endblock %}

{% block task %}
<!-- DEBRIEFING SURVEY -->
<div id="debriefingContainer" class="container hidden">
    <form id="debriefingForm" name="debriefingForm" onsubmit="return false">
        <h1 class="my-5">Debriefing Questions</h1>
        <p class="my-3">
            Please answer all of the questions below to the best of your ability.
            If you don't know the answer to a question, please be honest and
            give your best guess.
        </p>

        <div class="form-group">
            <label for="whatTested">
                In a few words, what did you think we were testing?
            </label>
            <textarea required id="whatTested" name="whatTested" class="form-control response" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="strategies">
                Did you use any particular strategies, or is there anything else you can tell us about how you
                did the
                task? Please answer in one or two sentences.
            </label>
            <textarea required id="strategies" name="strategies" class="form-control response" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="perceivedPerformance">
                How well do you think you did on the task? Please answer by entering a number on a
                scale from 1 to 7, where 1 = "very poor" and 7 = "perfect".
            </label>
            <select required id="perceivedPerformance" name="perceivedPerformance" class="form-control response">
                <option value="NA"></option>
                <option value="1">1 ("very poor")</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7 ("perfect")</option>
            </select>
        </div>

        <div class="form-group">
            <label for="interruption">
                Did you interrupt your completion of the
                survey in any way (e.g. by switching to other
                windows or tabs on your computer, or by
                refreshing the task page)?
                (Your work will still be accepted even if you
                answer "Yes" here. Please be honest! Thanks!)
            </label>
            <select required class="form-control response" id="interruption" name="interruption">
                <option value="NA"></option>
                <option>Yes, I interrupted the task.</option>
                <option>No, I did not interrupt the task.</option>
            </select>
        </div>

        <div class="form-group">
            <label for="issues">
                Was any part of the procedure unclear?
                Did you have any problems completing the task?
                (Your work will be accepted regardless of your answer.
                Please be honest! Thanks!)
            </label>
            <textarea class="form-control response" id="issues" name="issues" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="comments">
                Do you have any other comments you would like to add?
                Feel free to tell us whatever you
                thought about the task, or any problems you might have encountered (that you didn't already mention
                above).
            </label>
            <textarea class="form-control response" id="comments" name="comments" rows="3"></textarea>
        </div>

        <h1 class="mt-5 mb-3">Demographics</h1>
        <div class="form-group">
            <label for="workerId">mTurk Worker ID</label>
            <input required class="form-control response" id="workerId" name="workerId" type="text">
        </div>

        <div class="form-group">
            <label for="age">Age</label>
            <input required class="form-control response" id="age" name="age" type="number" min="18" max="120">
        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <select required class="form-control selectpicker response" id="gender" name="gender">
                <option value="NA"></option>
                <option>Female</option>
                <option>Male</option>
                <option>Non-binary</option>
                <option>Other</option>
                <option>Prefer not to say</option>
            </select>
        </div>

        <!-- Race: multiselect -->
        <div class="form-group">
            <label for="race">
                Race (you may select more than one option using the checkboxes, or search by typing)
            </label>
            <select multiple="multiple" class="form-control response" id="race" name="race">
                <option>Black/African American</option>
                <option>East Asian</option>
                <option>East Indian</option>
                <option>Middle Eastern</option>
                <option>Native Hawaiian or Other Pacific Islander</option>
                <option>White</option>
                <option>Other</option>
                <option>Prefer not to say</option>
            </select>
        </div>

        <div class="form-group">
            <label for="raceText">If the above options do not adequately describe your racial/ethnic identity,
                please feel free to do so in your own words below.
            </label>
            <input class="form-control response" id="raceText" name="raceText" type="text">
        </div>
    </form>
</div>
{% endblock %}
