{% extends "task.html" %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      $(window).scrollTop(0);
      // Make task unskippable
      $("#skip-task").remove();

      Judicious.result = function () {
        return {
          submitted: true,
        };
      }
    });
  </script>
{% endblock %}

{% block task %}
  <p>As a part of this study, you will see a series of faces. The images below are there to give you an idea of how varied these faces can be. You will be asked to rate each face in terms of how dominant they appear to be. (You can make your response using a slider that appears below the image.) We are interested in your immediate, gut reaction to the images. There are no right or wrong responses.</p>
  <p>Please press the "Submit" button when you are ready to begin.</p>
  <div class="container text-center" style="margin-bottom: 2.0rem;">
    <img src="{{ url_for('static', filename='example_faces.jpg') }}" width=450 style=" display: block; margin: 0 auto;"/>
  </div>
{% endblock %}
