{% extends "task.html" %}

{% block styles %}
  {{ super() }}
  <style type="text/css">
  input[type='radio'] {
    margin-right: 7px;
  }
  </style>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    $(document).ready(function() {
      Judicious.result = function () {
        return {decision: $('input[name=decision]:radio:checked').val()};
      }
    });
  </script>
{% endblock %}

{% block task %}
  <p><strong>Instructions:</strong> Imagine you face a choice about receiving
    ${{ task.parameters.SS }} immediately, or ${{ task.parameters.LL }} in {{ task.parameters.delay }}
    from now. Which option would you choose?</p>

  <form action="">
    <p><input type="radio" name="decision" value="ss">${{ task.parameters.SS }} immediately.</p>
    <p><input type="radio" name="decision" value="ll">${{ task.parameters.LL }} in {{ task.parameters.delay }} from now.</p>
  </form>

{% endblock %}
