{% extends "task.html" %}

{% block styles %}
  {{ super() }}
  <style type="text/css">
    textarea {
      height: 300px;
    }
    h2 {
      font-size: 18px;
      font-style: italic;
    }
    .response-interface {
      padding-bottom: 20px;
    }
  </style>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $( document ).ready(function() {
      $("#valid").click(function () {
        Judicious.result = { is_error: true };
        $("#invalid").fadeTo(100, 0.25);
        $("#valid").fadeTo(100, 1.00);
      });

      $("#invalid").click(function () {
        Judicious.result = { is_error: false };
        $("#valid").fadeTo(100, 0.25);
        $("#invalid").fadeTo(100, 1.00);
      });
    });
  </script>
{% endblock %}

{% block task %}
  <p>
    <strong>Instructions:</strong>
    A copy editor read the following text and detected an error, described
    below. Do you agree with their judgment? Is this, in fact, an example of
    the described error?
  </p>
  <h2>Text:</h2>
  <blockquote id="text">{{ parameters.text|e }}</blockquote>
  <h2>Detected error:</h2>
  <blockquote>{{ parameters.error_message|e }}</blockquote>
  <div class="response-interface">
    <a class="button button-outline" id="valid" href="#">Agree: error</a>
    <a class="button button-outline" id="invalid" href="#">Disagree: not an error</a>
  </div>
{% endblock %}
