{% extends "task.html" %}

{% block styles %}
  {{ super() }}
  <style type="text/css">
    #images {
      padding-bottom: 20px;
    }
  </style>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      $("#image-0").click(function () {
        Judicious.result = {selection: "0"};
          $("#image-1").fadeTo(400, 0.25);
          $("#image-0").fadeTo(400, 1.00);
      });
      $("#image-1").click(function () {
        Judicious.result = {selection: "1"};
        $("#image-0").fadeTo(400, 0.25);
        $("#image-1").fadeTo(400, 1.00);
      });
    });
  </script>
{% endblock %}

{% block task %}
  <p>
    <strong>Instructions:</strong> Which image depicts {{ parameters.category }}? Click to make a selection.
  </p>
  <br/>
  <div class="row" id="images">
    <div class="column"><img src="{{ parameters.src_0 }}" id="image-0" class="unselected" /></div>
    <div class="column"><img src="{{ parameters.src_1 }}" id="image-1" class="unselected" /></div>
  </div>
{% endblock %}
