{% extends "task.html" %}

{% block styles %}
  {{ super() }}
  <style type="text/css">
    #images {
      padding-bottom: 20px;
    }
  </style>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      $("#selection-left").click(function () {
        Judicious.result = {selection: "0"};
          $("#selection-right").fadeTo(400, 0.25);
          $("#selection-left").fadeTo(400, 1.00);
      });
      $("#selection-right").click(function () {
        Judicious.result = {selection: "1"};
        $("#selection-left").fadeTo(400, 0.25);
        $("#selection-right").fadeTo(400, 1.00);
      });
    });
  </script>
{% endblock %}

{% block task %}
  <p>
    <strong>Instructions:</strong> Which image depicts {{ task.parameters.category }}? Click to make a selection.
  </p>
  <br/>
  <div class="row" id="images">
    <div id="left" class="column">
      {% block selection_left %}
      <img src="{{ task.parameters.src_0 }}" id="selection-left" class="unselected" />
      {% endblock %}
    </div>
    <div id="right" class="column">
      {% block selection_right %}
      <img src="{{ task.parameters.src_1 }}" id="selection-right" class="unselected" />
      {% endblock %}
    </div>
  </div>
{% endblock %}
